from artshowjockey.common_settings import *

# This is, probably, the minimum set of settings attributes that
# should be specified for your installation.

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.sqlite3', # Add 'postgresql_psycopg2', 'mysql', 'sqlite3' or 'oracle'.
        'NAME': '/PROJDIR/data/artshowjockey.db', # Or path to database file if using sqlite3.
        'USER': '',                      # Not used with sqlite3.
        'PASSWORD': '',                  # Not used with sqlite3.
        'HOST': '',                      # Set to empty string for localhost. Not used with sqlite3.
        'PORT': '',                      # Set to empty string for default. Not used with sqlite3.
    }
}


# Absolute path to the directory static files should be collected to.
# Don't put anything in this directory yourself; store your static files
# in apps' "static/" subdirectories and in STATICFILES_DIRS.
# Example: "/home/media/media.lawrence.com/static/"
STATIC_ROOT = '/PROJDIR/static/'

ARTSHOW_SHOW_NAME = "Generic Art Show"
ARTSHOW_TAX_RATE = "0.0825"
ARTSHOW_TAX_DESCRIPTION = "Santa Clara CA Tax 8.25%"
ARTSHOW_EMAIL_SENDER = "Generic Art Show <artshow@example.com"
ARTSHOW_COMMISSION = "0.1"
ARTSHOW_INVOICE_PREFIX = "2012-"
ARTSHOW_EMAIL_FOOTER = """\
--
Random J Hacker
Generic Art Show Lead.
artshow@example.com - http://www.example.com/artshow
"""
ARTSHOW_BLANK_BID_SHEET = "artshow/files/blank_bid_sheet.pdf"
