{% extends "artist_generic.html" %}
{% block title %}Artshow Setup{% endblock %}
{% block content %}
<p>Hello! Thank you for choosing to set up your pieces on-line.</p>

{{ if artists }}
<p>Click the artist name to view or edit the details for that artist.</p>
<ul>
{{ for a in artists }}
<li>Artist {{ a.publicname }} has {{ a.pieces.count }} pieces entered.<br>
<a href="{% url artshow.artist.pieces %}">Edit</a>.</li>
{{ endfor }}
</ul>
{{ else }}
<p>Oops. You do not have access to manage any artists. Please contact ArtShow administration to arrange access.</p>
{{ endif }}

{% endblock %}
