{% extends "base_generic.html" %}
{% block title %}Artist to Panel Report{% endblock %}
{% block content %}

<table border=1>
<tr><th>Artist ID</th><th>Artist Name</th><th>Locations Used</th><th>Spaces Assigned</th></tr>
{% for artist in artists %}
<tr><td>{{ artist.artistid }}</td><td>{{ artist.artistname }}</td><td>{{ artist.used_locations|join:", " }}</td><td>{% for a in artist.allocation_set.all %}{{ a.space.shortname }}:{{ a.allocated }}{% if not forloop.last %}, {% endif %}{% endfor %}</td></tr>{% endfor %}
</table>

{% endblock %}

