{% extends "artshow/base_generic.html" %}
{% load url from future %}
{% block breadcrumbs %}
    <ul class="breadcrumbs">
        <li><a href="/">Home</a></li>
        <li><a href="{% url 'artshow.reports.index' %}">Reports</a></li>
        <li class="current">Artist Payment Report</li>
    </ul>
{% endblock %}
{% block content %}
    <p><a href="?">All</a> | <a href="?nonzero=1">Non-Zero Balance</a></p>
    <table class="report">
        {% for a in artists %}
            <tr>
                <th colspan="4">{{ a }}</th></tr>
            <tbody>
            {% for p in a.payment_set.all %}
                <tr>
                    <td>{{ p.date }}</td>
                    <td>{{ p.payment_type }}</td>
                    <td>{{ p.description }}</td>
                    <td align="right">{{ p.amount|floatformat:2 }}</td>
                </tr>{% empty %}
                <tr><td colspan="4">No Entries</td></tr>{% endfor %}
            {% if a.deduction_remaining %}
                <tr>
                    <td colspan="3" align="right">Space fee deduction remaining</td>
                    <td align="right">-{{ a.deduction_remaining|floatformat:2 }}</td>
                </tr>
            {% endif %}
            <tr>
                <td colspan="3" align="right">Balance</td>
                <td align="right"><strong>{{ a.total|floatformat:2 }}</strong></td>
            </tr>
            </tbody>
            <tr></tr>
        {% endfor %}
    </table>
{% endblock %}
