{% extends "artshow/base_generic.html" %}
{% load url from future %}
{% block breadcrumbs %}
    <ul class="breadcrumbs">
        <li><a href="/">Home</a></li>
        <li><a href="{% url 'artshow.cashier.cashier' %}">Casher</a></li>
        <li class="current">Showing Artists</li>
    </ul>
{% endblock %}
{% block extra_head %}
  <link rel="stylesheet" href="{{ STATIC_URL }}artshow/cashierstyle.css" />
  <title>Bidder Information</title>
  <script src="{{ STATIC_URL }}admin/js/jquery.min.js"></script>
  <script src="{{ STATIC_URL }}artshow/bignumber.js"></script>
  <script>
    payment_types = {{ payment_types_json|safe }};
    function reset_to_remaining ( o ) {
	    $(o).trigger("update");
    }
    function removepayment ( o ) {
       var table = $($(o).parents('table')[0]);
       $($(o).parents('tr')[0]).remove ();
       table.trigger('update');
    }
    $( function () {
    	$('.selecttable').each ( function() {
    		var selecttable = $(this);
    		var selectall = selecttable.find('.selectallcontrol');
    		var checkboxes = selecttable.find('.selectrow [type=checkbox]'); // TODO Not specific enough
    		function autocheck_selectall () {
    			selectall.prop ( 'checked', ! checkboxes.is ( ':not(:checked)' ) );
    		}
    		selectall.change ( function (event) {
    			checkboxes.prop ( 'checked', selectall.is(':checked') );
    			selecttable.trigger('update');
    			return true;
    		} );
    		checkboxes.change ( function(event) {
    			autocheck_selectall();
    			selecttable.trigger('update');
    			return true;
    		} );
    		autocheck_selectall ();
    	});
    } );
    $ ( function () {
    	$('.purchasetable').each ( function () {
    		var purchasetable = $(this);
    		var precision = Math.floor ( purchasetable.attr('precision') );
    		var taxrate = purchasetable.attr('taxrate');
    		var amountclass = "." + purchasetable.attr('amountclass');
    		var subtotalfield = purchasetable.find('.subtotalfield');
    		var taxfield = purchasetable.find('.taxfield');
    		var totalfield = purchasetable.find('.totalfield');
    		function update () {
    			var subtotal = new BigNumber ( 0, precision, BigNumber.ROUND_FLOOR );
    			purchasetable.find('.purchaseitem').each ( function() {
    				var item = $(this);
    				if ( item.find('[type=checkbox]').is(':checked') ) { // not specific enough
	    				subtotal = subtotal.add ( item.find ( amountclass ).text() );
	    				item.find('.money').removeClass ( 'excluded' );
    				} else {
	    				item.find('.money').addClass ( 'excluded' );
    				}
    			});
    			subtotalfield.text ( subtotal.toString(true) );
    			var tax = subtotal.multiply ( taxrate );
    			taxfield.text ( tax.toString(true) ).val ( tax.toString(true) ); // sets both innertext and values
    			var total = subtotal.add ( tax );
    			totalfield.text ( total.toString(true) );
    			totalfield.trigger ( 'totalupdated' );
    		}
    		purchasetable.bind ( 'update', update );
    		update ();

    	});
    } );
    $ ( function () {
    	$('.paymenttable').each(function() {
    		var paymenttable = $(this);
    		var totalfrom = $(document.getElementById(paymenttable.attr('totalfrom')));
    		var precision = Math.floor ( paymenttable.attr('precision') );
    		var formprefix = paymenttable.attr('formprefix');
    		var paymenttendered = paymenttable.find('.paymenttendered');
    		// var paymenttypes = {{ payment_types_json }};
    		var paymentrowtemplate = paymenttable.find('.paymentrowtemplate');
    		var paymentsgohere = paymenttable.find('.paymentsgohere');
    		var createinvoicebutton = paymenttable.find('.createinvoicebutton');
    		function get_payment_remaining () {
    			var acc = new BigNumber ( totalfrom.text(), precision, BigNumber.ROUND_FLOOR );
    			paymenttable.find("[name$=-amount]").each ( function() {
    				acc = acc.subtract ( $(this).val() );
    			});
    			return acc;
    		}
    		function get_total_tendered () {
    			var acc = new BigNumber ( 0, precision, BigNumber.ROUND_FLOOR );
    			paymenttable.find("[name$=-amount]").each ( function() {
    				acc = acc.add ( $(this).val() );
    			});
    			return acc;
    		}
    		function update () {
    			paymenttable.find(".paymentrow").each ( function () {
    				var row=$(this);
    				var amount=new BigNumber ( row.find("[name$=-amount]").val(), precision, BigNumber.ROUND_FLOOR );
    				var notes=row.find("[name$=-notes]").val();
    				var type=row.find("[name$=-payment_method]").val();
    				row.find(".paymenttypetext").text ( payment_types[type] );
    				row.find(".paymentnotestext").text ( notes );
    				row.find(".paymentamount").text ( amount.toString( true ) );
    			});
    			var acc = get_total_tendered ();
       			paymenttable.find(".totaltendered").text ( acc.toString( true ) );
    			acc = get_payment_remaining ();
       			paymenttable.find(".paymentremaining").text ( acc.toString( true ) );
       			paymenttendered.val ( acc.toString ( true ) );
       			createinvoicebutton.prop ( 'disabled', acc != 0 );
       			
    		}
    		paymenttable.bind ( 'update', update );
    		totalfrom.bind ( 'totalupdated', function() { paymenttable.trigger ( 'update' ); } );
    		paymenttable.find('.paymentbutton').click(function(event) {
    			event.preventDefault();
    			paymenttendered.focus();
    			var paymenttype = Math.floor($(this).attr("paymenttype"));
    			var amount = new BigNumber ( paymenttendered.val(), precision, BigNumber.ROUND_FLOOR );
    			if ( amount <= 0 ) {
    				return;
    			}
    			var paymentremaining = get_payment_remaining ();
    			var change = amount.subtract(paymentremaining);
    			if ( change < 0 ) {
    				change = new BigNumber ( 0, precision, BigNumber.ROUND_FLOOR );
    			}
    			var notes = "";
    			if ( paymenttype == 1 /* cash */ ) {
    				var tendered = amount;
    				if ( change > 0 ) {
    					amount = paymentremaining;
    					if ( ! window.confirm ( "Give " + change.toString(true) + " change " ) ) {
	    					return;
    					}
    				}
    				notes = "tendered: " + tendered.toString(true) + "  change: " + change.toString(true);
    			} else {
	    			if ( change > 0 ) {
		    			window.alert ( "Amount cannot be larger than payment remaining." );
		    			return;
	    			}
	    			if ( paymenttype == 2 /* check */ ) {
	    				if ( ! window.confirm ( "Ask for Identification. Does it match?" ) ) {
		    				return;
	    				}
	    			} else if ( paymenttype == 3 /* card */ ) {
	    				if ( ! window.confirm ( "Charge card amount " + amount.toString(true) + "\nWas this sucesssful?" ) ) {
		    				return;
	    				}
	    			} else if ( paymenttype == 4 /* other */ ) {
	    				notes = window.prompt ( "Enter details of payment." );
	    				if ( ! notes ) {
		    				return;
	    				}
	    			} else {
		    			return;
	    			}
	    		}
    			paymenttendered.val('');
    			
    			var newrow = paymentrowtemplate.clone();
    			newrow.removeClass('paymentrowtemplate').addClass('paymentrow').show();
    			newrow.find("[name$=-payment_method]").val(paymenttype);
    			newrow.find("[name$=-notes]").val(notes);
    			newrow.find("[name$=-amount]").val(amount);
    			paymentsgohere.before(newrow);
    			update ();    			
    		});
    		paymenttable.find("[type=submit]").click(function(event) {
    			console.log ( 'clicked submit button' );
    			var acc = get_payment_remaining ();
    			if ( acc != 0 ) {
    				window.alert ( "Payment remaining must be zero before invoice can be created." );
    				return false;
    			}
    			var paymentrows = paymenttable.find(".paymentrow");
    			paymentrows.each(function(index) {
    				var row=$(this);
    				row.find("[name$=-payment_method]").attr ( 'name', formprefix + "-" + index + "-payment_method" );
    				row.find("[name$=-notes]").attr ( 'name', formprefix + "-" + index + "-notes" );
    				row.find("[name$=-amount]").attr ( 'name', formprefix + "-" + index + "-amount" );
    			});
    			console.log ( 'paymentrows', paymentrows, paymentrows.length );
    			paymenttable.find('[name$=-TOTAL_FORMS]').val ( paymentrows.length );
    			return true;
    		});
    		update ();
    	});
    } );
  </script>
{% endblock %}
{% block content %}
<h1>Bidder Information</h1>
<table>
<tr><td>Name</td><td>{{ bidder.name }}</td></tr>
<tr><td>Bidder ID{{ bidder.bidder_ids|pluralize }}</td><td>{{ bidder.bidder_ids|join:", " }}</td></tr>
</table>
{% if pending_bids %}
<hr>
<p>{{ bidder.name }} has <strong>{{ pending_bids|length }}</strong> piece{{ pending_bids|pluralize }} with a top bid but pending resolution</p>
<table>
<tr><th>Piece</th><th>Reason</th></tr>
{% for b in pending_bids %}
<tr><td>{{ b.piece }}</td><td>{{ b.pending_reason }}</td></tr>
{% endfor %}
</table>
{% endif %}
<hr>
<form action="{% url 'artshow.cashier.cashier_bidder' bidder_id=bidder.id %}" method="POST">{% csrf_token %}

<table class="selecttable purchasetable" precision="{{ money_precision }}" taxrate="{{ tax_rate }}" amountclass="amount">
<tr><th><label>Select All<input type="checkbox" class="selectallcontrol"/></label></th><th>Piece</th><th>Artist</th><th>Amount</th></tr>
{% for bid in available_bids %}
{% if bid.form.non_field_errors or bid.form.select.errors %}
<tr><td colspan="4">{{ bid.form.non_field_errors }}{{ bid.form.select.errors }}</td></tr>
{% endif %}
<tr class="selectrow purchaseitem"><td>{{ bid.form.select }}{{ bid.form.bid }}</td><td>{{ bid.piece.name }}</td><td>{{ bid.piece.artist.artistname }}</td><td class="amount money">{{ bid.amount|floatformat:money_precision }}</td></tr>
{% empty %}
<tr><td colspan="4">No pieces to select from.</td></tr>
{% endfor %}
{% if items_form.non_field_errors or items_form.tax_paid.errors %}
<tr><td colspan="4">{{ items_form.non_field_errors }}{{ items_form.tax_paid.errors }}</td></tr>
{% endif %}
<tr><td colspan="3" align="right"><input type="hidden" id="id_{{items_form.tax_paid.html_name}}" name="{{items_form.tax_paid.html_name}}" class="taxfield" /> Subtotal: <span class="subtotalfield"></span> &mdash; Tax:</td><td class="taxfield money"></td></tr>
<tr class="lastrow"><td colspan="3" style="text-align: right;">Total:</td><td class="totalfield money" id="totalwithtax" ></td></tr>
</table>

<h3>Payments</h3>
<div class="paymenttable" totalfrom="totalwithtax" precision="{{ money_precision }}" formprefix="{{ payment_formset.prefix }}">
{{ payment_formset.management_form }}

<table>
  <tr class="paymentrowtemplate" style="display:none"><td>{{ payment_formset.empty_form }}<span class="paymenttypetext"></span></td><td><span class="paymentnotestext"></span></td><td class="paymentamount" align="right"></td><td><input class="delbutton" type="button" onclick="removepayment(this);return false;" value="Del"></td></tr>
  <tr><th>Type</th><th>Notes</th><th>Amount</th><th></th></tr>
{% if payment_formset.non_form_errors %}
  <tr><td colspan="4">{{ payment_formset.non_form_errors }}</td></tr>
{% endif %}
{% for f in payment_formset %}
{% if f.errors %}
  <tr><td colspan="4"><ul>{% for formerrors in f.errors %}{% for field in formerrors %}{% for error in field.errors %}<li>{{ error }}</li>{% endfor %}{% endfor %}{% endfor %}</ul></td></tr>
{% endif %}
  <tr class="paymentrow"><td>{{ f }}<span class="paymenttypetext"></span></td><td><span class="paymentnotestext"></span></td><td class="paymentamount" class="money"></td><td><input type="button" class="delbutton" onclick="removepayment(this);return false;" value="Del" /></td></tr>
{% endfor %}
  <tr class="paymentsgohere" style="display:none"></tr>
  <tr class="lastrow"><td colspan="2" style="text-align: right;">Total Tendered</td><td class="money"><span class="totaltendered"></span></td><td></td></tr>
  <tr><td colspan="2" style="text-align: right;">Remaining to Pay</td><td class="money"><span class="paymentremaining"></span></td><td></td></tr>
  
  <tr class="paymenttenderedrow lastrow"><td colspan="4">
      <label>
          Pay:
          <input class="paymenttendered" type="text" value=""/>
      </label>
    <input type="button" value="Remaining" onclick="reset_to_remaining(this);" /> by
{% for pt_id, pt_name in payment_types.items %}<input class="paymentbutton" type="button" paymenttype="{{ pt_id }}" value="{{ pt_name }}" />
{% endfor %}
  </td></tr>
  <tr><td colspan="4" style="text-align: right;"><input class="createinvoicebutton" type="submit" value="Create Invoice"/></td></tr>

</table>

</div>

</form>

{% endblock %}
