{% extends "artshow/base_generic.html" %}
{% load url from future %}
{% block breadcrumbs %}
    <ul class="breadcrumbs">
        <li><a href="/">Home</a></li>
        <li class="current">Cashier</li>
    </ul>
{% endblock %}
{% block content %}
    <p>Please ask for the bidder's name, or bidder ID</p>
    <form method="post">{% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit"/>
    </form>
    {% if bidders %}
        <hr>
        <p>Verify the bidder's identification, and click on the appropriate bidder below, or search again.</p>
        <table>
        <tr>
            <th>Name</th>
            <th>Bidder IDs</th>
        </tr>
        {% for b in bidders %}
            <tr>
                <td><a href="{% url "artshow.cashier.cashier_bidder" bidder_id=b.id %}">{{ b.name }}</a></td>
                <td>{{ b.bidder_ids|join:", " }}</td>
            </tr>
        {% endfor %}
        </table>
    {% elif search_executed %}
        <p>Nothing was found. Please check the spelling and try again.</p>
    {% endif %}
{% endblock %}

