{% extends "artshow/manage_base.html" %}
{% load url from future %}
{% block breadcrumbs %}
<ul class="breadcrumbs">
  <li><a href="/">Home</a></li>
  <li><a href="{% url 'artshow.manage.index' %}">Manage Artists</a></li>
  <li><a href="{% url 'artshow.manage.artist' artist_id=artist.artistid %}">{{ artist.artistname }}</a></li>
  <li class="current">Make Payment</li>
</ul>
{% endblock %}
{% block content %}
    <h1>Make a payment</h1>
    <p>To secure your space requests, we require pre-payment for the cost of that space. We can accept payment with
        your PayPal account, a major credit card (via PayPal but does not require a PayPal account),
        or via a cheque in the mail.</p>
    <p>The "suggested payment" below takes into account what spaces you have requested, what payments you have
        made so far, and what fees have already been deducted. You may choose to pay more if you desire; any
        over-payments will be returned to you at the completion of the show. Refunds for unused space requests
        will be made according to the Artist Agreement.</p>
    <p>To pay via PayPal, enter the desired payment and press "Pay via Paypal". You will be taken to the PayPal site
        to complete payment, and returned here afterwards.</p>
    <p>To pay via a mailed-in payment, enter the desired payment amount and press "Pay via Mail".</p>
    <p>Suggested payment: ${{ payment_remaining|floatformat:2 }}</p>
    <form method="post">{% csrf_token %}
        {{ form.non_field_errors }}
        {% if form.amount.errors %}<p>{{ form.amount.errors }}</p>{% endif %}
        <p>{{ form.amount.label_tag }}: {{ form.amount }}
        <input type="submit" value="Pay via PayPal"/>
        <input type="submit" name="via_mail" value="Pay via Mail"/></p>
    </form>
    <hr/>
    <p>Here's how we arrived at the above figure.</p>
    <table>
        <tr>
            <th>Space</th>
            <th>Requested</th>
            <th>Cost</th>
        </tr>
        {% for a in allocations %}
        <tr>
            <td>{{ a.space }}</td>
            <td class="number">{{ a.requested }}</td>
            <td class="money">${{ a.requested_charge|floatformat:2 }}</td>
        </tr>
        {% endfor %}
        <tr class="totalsrow">
            <td colspan="2">Total cost for requested spaces</td>
            <td class="money">${{ total_requested_cost|floatformat:2 }}</td>
        </tr>
        {% if deduction_to_date %}
            <tr>
                <td colspan="2">Minus space fees already deducted</td>
                <td class="money">${{ deduction_to_date|floatformat:2 }}</td>
                <td class="tablenotes">&larr; We usually don't deduct space fees from your account until the middle of
                    the show. If we do, we'll tell you why.
                </td>
            </tr>
            <tr class="totalsrow">
                <td colspan="2">Remaining cost for requested spaces</td>
                <td class="money">${{ deduction_remaining|floatformat:2 }}</td>
            </tr>
        {% endif %}
        {% if account_balance %}
            <tr>
                <td colspan="2">Minus account balance</td>
                <td class="money">${{ account_balance|floatformat:2 }}</td>
                <td class="tablenotes">&larr; You have a positive account balance. Before the show, this is most often
                    used to secure your space requests, and is thus taken into account here. If it is to be used for
                    something else that has not shown up in your accounting, please make your own adjustments to the
                    suggested payment.
                </td>
            </tr>
        {% endif %}
        <tr class="totalsrow">
            <td colspan="2">Suggested payment</td>
            <td class="money">${{ payment_remaining|floatformat:2 }}</td>
        </tr>

    </table>

{% endblock %}
