{% extends "artshow/manage_base.html" %}
{% block content %}
<p>Welcome to the Art Show! To register for space in the show, please fill in the following information.
    Once submitted, you'll be sent a link to your e-mail address where you'll provide a password to log
    into the management pages.<p>
<p>Once there, you'll be able to request space in the show, provide payment for the space, enter piece
    details, and so on.</p>

<form method="post">{% csrf_token %}
    <table>
    {{ person_form.as_table }}
    {{ artist_form.as_table }}
    {{ agreement_form.as_table }}
    </table>
    <input type="submit" value="Register">
</form>
{% endblock %}
