{% extends "artshow/manage_base.html" %}
{% load url from future %}
{% block title %}Edit Pieces{% endblock %}
{% block breadcrumbs %}
<ul class="breadcrumbs">
  <li><a href="/">Home</a></li>
  <li><a href="{% url 'artshow.manage.index' %}">Manage Artists</a></li>
  <li><a href="{% url 'artshow.manage.artist' artist_id=artist.artistid %}">{{ artist.artistname }}</a></li>
  <li class="current">Cannot Edit</li>
</ul>
{% endblock %}
{% block content %}
<p>You have not been granted rights to edit information for {{ artist.artistname }}.</p>
<p><a href="{% url 'artshow.manage.artist' artist.pk %}">&larr; Go Back</a></p>

{% endblock %}
