{% extends "artshow/manage_base.html" %}
{% block content %}
    <p>Wonderful! You've successfully created your account on the Art Show management website, and we've saved all the details you've entered so far.</p>
    <p>To continue, you'll need to log in. We've sent log-in details to the e-mail address you specified in the previous form: <b>{{ new_user.email }}</b></p>
    <p>Follow the instructions in the e-mail to set a password, and then log-in to your account. From there, you'll be able to:</p>
    <ul>
    <li>Adjust any of the information you've given us so far.</li>
    <li>Make your request for space in the show.</li>
    <li>Make your reservation payments.</li>
    <li>Enter details for pieces you intend to display at the show.</li>
    </ul>
    <p>If you don't receive that e-mail in the next 5 minutes, please check your Spam box. If you don't receive it, or you have <i>any</i> other difficulties using this
        system, please let us know.</p>
{% endblock %}
