{% extends "artshow/base_generic.html" %}
{% load url from future %}
{% block breadcrumbs %}
    <ul class="breadcrumbs">
        <li><a href="/">Home</a></li>
        <li><a href="{% url 'artshow.reports.index' %}">Reports</a></li>
        <li class="current">Winning Bidders</li>
    </ul>
{% endblock %}
{% block content %}
    <table class="winning-bidders-report">
        <thead>
        <tr class="header">
            <th>Bidder</th>
            <th>Piece</th>
            <th>Amount</th>
            <th>Notes</th>
        </tr>
        </thead>
        {% for bidder in bidders %}
            <tbody>
            {% for bid in bidder.top_bids %}
                <tr>
                    {% if forloop.first %}
                        <th class="bidder" rowspan="{{ bidder.top_bids|length }}">B
                        {{ bidder.bidder_ids|join:", " }}</th>{% endif %}
                    <td>{{ bid.piece.code }} - <i>{{ bid.piece.name }}</i> by {{ bid.piece.artist.artistname }}</td>
                    <td>{{ bid.amount }}</td>
                    <td>{{ bid.piece.voice_auction|yesno:"Voice Auction," }}</td>
                </tr>
            {% empty %}
                <tr>
                    <th class="bidder" rowspan="{{ bidder.top_bids.count }}">B{{ bidder.bidder_ids|join:", " }}</th>
                        <td colspan="3">No winning bids</td>
                </tr>
            {% endfor %}
            </tbody>
        {% endfor %}
    </table>
{% endblock %}
