{% extends "base_generic.html" %}

{% block title %}{{ section.title }}{% endblock %}

{% block content %}
<h1>{{ section.title }}</h1>

{% if artists %}
<table>
<tr><th>Artist ID</th><th>Artistname</th><th>Payment Balance</th><th>Allocated Panel Charge</th><th>Final Balance</th></tr>
  {% for a in artists %}
<tr><td>{{ a.artistid }}</td><td>{{ a.artistname }}</td><td align=right>{{ a.balance }}</td><td align=right>{{ a.panel_charge }}</td></tr>
  {% endfor %}
</table>
{% else %}
  <p>No Artists Entered Yet</p>
{% endif %}

{% endblock %}
