{% extends "artshow/base_generic.html" %}
{% load url from future %}
{% block breadcrumbs %}
    <ul class="breadcrumbs">
        <li><a href="/">Home</a></li>
        <li><a href="{% url 'artshow.reports.index' %}">Reports</a></li>
        <li class="current">Show Summary</li>
    </ul>
{% endblock %}
{% block content %}
    <title>Show Summary | {{ SITE_NAME }}</title>

    <table>
        <tr>
            <th>Artists Registered</th><td>{{ num_artists }}</td>
        </tr>
        <tr>
            <th>Artists Active (Requested Space)</th><td>{{ num_active_artists }}</td>
        </tr>
        <tr>
            <th>Artists Showing (Allocated Space)</th><td>{{ num_showing_artists }}</td>
        </tr>
    </table>
    <br/>

    <table>
    <tr><th>Space</th><th>Available</th><th>Requested</th><th>Allocated</th></tr>
    {% for s in spaces %}
        <tr>
            <th>{{ s }}</th>
            <td>{{ s.available }}</td>
            <td>{{ s.requested }} ({{ s.requested_perc|floatformat:1 }}%)</td>
            <td>{{ s.allocated2 }} ({{ s.allocated_perc|floatformat:1 }}%)</td>
        </tr>
    {% endfor %}
        <tr>
            <td class="totalsrow">Total</td>
            <td>{{ total_spaces.available }}</td>
            <td>{{ total_spaces.requested }} ({{ total_spaces.requested_perc|floatformat:1 }}%)</td>
            <td>{{ total_spaces.allocated }} ({{ total_spaces.allocated_perc|floatformat:1 }}%)</td>
        </tr>
    </table>
    <br/>

    <table>
        <tr>
            <th></th>
            <th>All</th>
            <th>General</th>
            <th>Adult</th>
        </tr>
        <tr>
            <th>Number of Pieces Entered</th>
            <td align="right">{{ all_stats.pieces_entered }}</td>
            <td align="right">{{ general_stats.pieces_entered }}</td>
            <td align="right">{{ adult_stats.pieces_entered }}</td>
        </tr>
        <tr>
            <th>Number of Pieces Showing</th>
            <td align="right">{{ all_stats.pieces_showing }}</td>
            <td align="right">{{ general_stats.pieces_showing }}</td>
            <td align="right">{{ adult_stats.pieces_showing }}</td>
        </tr>
        <tr>
            <th>Pieces with Bids</th>
            <td align="right">{{ all_stats.bids }}</td>
            <td align="right">{{ general_stats.bids }}</td>
            <td align="right">{{ adult_stats.bids }}</td>
        </tr>
        <tr>
            <th>Pieces in Voice Auction</th>
            <td align="right">{{ all_stats.pieces_va }}</td>
            <td align="right">{{ general_stats.pieces_va }}</td>
            <td align="right">{{ adult_stats.pieces_va }}</td>
        </tr>
        <tr>
            <th>Total Bid Amounts</th>
            <td align="right">${{ all_stats.bidamt|stringformat:"0.2f" }}</td>
            <td align="right">${{ general_stats.bidamt|stringformat:"0.2f" }}</td>
            <td align="right">${{ adult_stats.bidamt|stringformat:"0.2f" }}</td>
        </tr>
        <tr>
            <th>Bid Amounts in Voice Auction</th>
            <td align="right">${{ all_stats.bidamt_va|stringformat:"0.2f" }}</td>
            <td align="right">${{ general_stats.bidamt_va|stringformat:"0.2f" }}</td>
            <td align="right">${{ adult_stats.bidamt_va|stringformat:"0.2f" }}</td>
        </tr>
        <tr>
            <th>Highest Bid</th>
            <td align="right">${{ all_stats.highest_amt|stringformat:"0.2f" }}</td>
            <td align="right">${{ general_stats.highest_amt|stringformat:"0.2f" }}</td>
            <td align="right">${{ adult_stats.highest_amt|stringformat:"0.2f" }}</td>
        </tr>
        <tr>
            <th>Highest Bid in Voice Auction</th>
            <td align="right">${{ all_stats.highest_amt_va|stringformat:"0.2f" }}</td>
            <td align="right">${{ general_stats.highest_amt_va|stringformat:"0.2f" }}</td>
            <td align="right">${{ adult_stats.highest_amt_va|stringformat:"0.2f" }}</td>
        </tr>
        <tr>
            <th>Highest Bid in Silent Auction</th>
            <td align="right">${{ all_stats.highest_amt_sa|stringformat:"0.2f" }}</td>
            <td align="right">${{ general_stats.highest_amt_sa|stringformat:"0.2f" }}</td>
            <td align="right">${{ adult_stats.highest_amt_sa|stringformat:"0.2f" }}</td>
        </tr>
    </table>
    <br/>

    <h3>Artist Payments, Charges and Assignments</h3>

    <table>
        {% for pt in payment_types %}
            <tr>
                <th>{{ pt }}</th>
                <td align="right">${{ pt.total_payments }}</td>
            </tr>
        {% endfor %}
        <tr>
            <th>Balance</th>
            <td align="right">${{ total_payments }}</td>
        </tr>
    </table>

    <h3>Charges to Bidders</h3>

    <table>
        <tr>
            <th>Type</th>
            <th>Amount</th>
        </tr>
        <tr>
            <td>Pieces</td>
            <td align="right">{{ piece_charges }}</td>
        </tr>
        <tr>
            <td>Tax Paid</td>
            <td align="right">{{ tax_paid }}</td>
        </tr>
        <tr>
            <td>Total</td>
            <td align="right">{{ total_charges }}</td>
        </tr>
    </table>

    <h3>Payments From Bidders</h3>

    <table>
        <tr>
            <th>Type</th>
            <th>Amount</th>
        </tr>
        {% for ip in invoice_payments %}
            <tr>
                <td>{{ ip.payment_method_desc }}</td>
                <td align="right">{{ ip.total }}</td>
            </tr>
        {% endfor %}
        <tr>
            <td>Total</td>
            <td align="right">{{ total_invoice_payments }}</td>
        </tr>
    </table>
{% endblock %}
