{% extends "artshow/base_generic.html" %}
{% load url from future %}
{% block breadcrumbs %}
    <ul class="breadcrumbs">
        <li><a href="/">Home</a></li>
        <li><a href="{% url 'artshow.reports.index' %}">Reports</a></li>
        <li class="current">Voice Auction Status{% if adult == "y" %} &mdash; Adult{% elif adult == "n" %} &mdash;
            General{% endif %}</li>
    </ul>
{% endblock %}
{% block content %}
    <p><a href="?">All</a> | <a href="?adult=y">Adult</a> | <a href="?adult=n">General</a></p>
    <table class="report">
        <thead>
        <tr class="header">
            <th>Artist</th>
            <th>Piece ID</th>
            <th>Title</th>
            <th>Amount</th>
        </tr>
        </thead>
        {% for p in pieces %}
            <tr>
                <td>{{ p.artist.artistname }}</td>
                <td>{{ p.code }}</td>
                <td>{{ p.name }}</td>
                <td>{{ p.top_bid.amount }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
