body {
	margin: 0;
	padding: 0;
	color: #000;
	background-color: #fff;
	font-family: "Verdana", "Ariel", sans-serif;
}
#container {
	position: relative;
	width: 100%;
	min-width: 760px;
	padding: 0;
}
#header {
	background: #603a22;
	color: #ffc;
	overflow: hidden;
}
#branding h1 {
	padding: 0 10px;
	font-size: x-large;
	margin: 8px 0;
	font-weight: normal;
	color: #f4f379;
	text-shadow: 2px 2px 2px black;
}
#header a:link, #header a:visited {
	color: white;
	text-decoration: underline;
}
#user-tools {
	position: absolute;
	top: 0;
	right: 0;
	padding: 1.2em 10px;
	font-size: small;
	text-align: right;
}
#content {
	margin: 10px 15px;
}

table.loginbox {
	background-color: #ddddff;
	border: 1px solid black;
	margin: auto;
	padding: 10px;
}
.loginbox th { 
	text-align: right; 
	background-color: inherit;
	color: inherit; 
	padding: inherit;
	font-size: inherit;
}
.loginbox td { 
	text-align: left;
	background-color: inherit;
	color: inherit; 
	padding: inherit;
	font-size: inherit;
	}
.loginbox tr:nth-child(odd), .loginbox tr:nth-child(even) {
	background-color: inherit;
}
.loginbox tr.buttonrow td { text-align: center; }
.loginbox tr.helprow td { text-align: center; }

table {
	max-width: 90%;
}
table.formbox {
	border: 1px solid #603a22;
	margin: auto;
	padding: 8px;
}
tr:nth-child(odd) {
	background-color: #f3e3d9;
}
tr:nth-child(even) {
	background-color: #e0cbbf;
}
tr.totalsrow td {
	border-top: 2px solid #603a22;
}
td.tablenotes {
    font-size: small;
    background-color: white;
    width: 400px;
}
th {
	background-color: #603a22;
	color: white;
	padding: 2px 4px;
	font-size: small;
}
td {
	padding: 2px 4px;
}
td.money {
    text-align: right;
}
td.number {
    text-align: right;
}
.formbox th { 
	background-color: inherit;
	color: black;
	text-align: right;
	font-size: small;
}
.formbox td { text-align: left; }
.formbox tr.buttonrow td { text-align: center; }
.formbox tr.help td { text-align: center; }

ul.errorlist {
	margin: 0;
	padding: 0;
}
.errorlist li {
	display: block;
	padding: 4px 5px 4px 5px;
	margin: 0 0 3px 0;
	border: 1px solid red;
	color: white;
	background: red; 
}

#navigationbar {
	background: #e0cbbf;
	color: #603a22;
	overflow: hidden;
	padding: 2px 6px;
}
#navigationbar ul {
	list-style-type: none;
	margin: 2px;
	padding: 2px;
	color: #603a22;
	font-size: 10px;
}
#navigationbar li {
	display: inline;
	font-size: small;
    font-weight: bold;
	color: #603a22;
	margin: 0 4px;
}
#navigationbar a:link, #navigationbar a:visited {
    font-weight: normal;
    text-decoration: underline;
    color: #603a22;
}
#navigationbar li.announcements strong {
    font-weight: bold;
    color: #6a1f22;
}

#breadcrumbs {
	background: #f3e3d9;
	color: #603a22;
	overflow: hidden;
	padding: 2px 6px;
}
#breadcrumbs ul {
	list-style-type: none;
	margin: 2px;
	padding: 2px;
	color: #603a22;
	font-size: 10px;
}
#breadcrumbs li {
	display: inline;
	font-size: small;
	color: #603a22;
	margin: 0 4px;
}
#breadcrumbs li.current {
	font-weight: bold;
}
#breadcrumbs li:nth-of-type(n+2):before {
	content: "> ";
}
#breadcrumbs a:visited, #breadcrumbs a:hover, #breadcrumbs a:link, #breadcrumbs a {
	color: #603a22; 
	text-decoration: underline;
}
ul.messagelist {
    padding: 0 0 5px 0;
    margin: 0;
}

ul.messagelist li {
    font-size: 12px;
    display: block;
    padding: 4px 5px 4px 25px;
    margin: 0 0 3px 0;
    border-bottom: 1px solid #ddd;
    color: #666;
    background: #ffc url(/static/admin/img/icon_success.gif) 5px .3em no-repeat;
}

ul.messagelist li.warning{
    background-image: url(/static/admin/img/icon_alert.gif);
}

ul.messagelist li.error{
    background-image: url(/static/admin/img/icon_error.gif);
}
.helptext {
	font-size: x-small;
}
div.confirmdelete {
}
.confirmdelete {
	background-color: red;
	color: white;
}
.confirmdelete p {
	padding: 2px;
}
input {
    font-size: 14px;
}
table.announcementsindex tr.seen {
    color: grey;
}

#announcements p {
    background-color: lavenderblush;
    padding: 5px 10px;
    margin: 0px;
}

table.winning-bidders-report { border-collapse:collapse; border: 2px white; font:helvetica }
table.winning-bidders-report tr { page-break-inside: avoid; }
table.winning-bidders-report thead { display: table-header-group; }
table.winning-bidders-report tbody { border: 3px solid black; page-break-inside: avoid; page-break-after: always; }
table.winning-bidders-report td { padding-left:4px; padding-right:4px; border: 2px solid white; }
table.winning-bidders-report th { padding-left:4px; padding-right:4px; text-align:left; border: 2px solid white; }
table.winning-bidders-report tr:nth-child(even) { background-color:white; }
table.winning-bidders-report tr:nth-child(odd) { background-color:lightgray; }
table.winning-bidders-report tr.header { background-color:white; }
table.winning-bidders-report th.bidder { background-color:black; color:white; border: 3px solid white; }

table.report th a { color:white }