{% extends "admin/base_site.html" %}

{% block breadcrumbs %}
<div class="breadcrumbs">
     <a href="../../">Home</a> &rsaquo;
     <a href="../">{{ app_label|capfirst }}</a> &rsaquo;
     <a href="./">{{ opts.verbose_name_plural|capfirst }}</a> &rsaquo;
     Email selected artists
</div>
{% endblock %}

{% block content %}
    <form action="" method="post">{% csrf_token %}
    <p>Template: <select name="template">
        <option value=""{% if template_id == None %} selected="selected"{% endif %}>--------</option>{% for t in templates %}
        <option value="{{t.pk}}"{% if template_id == t.pk %} selected="selected"{% endif %}>{{t.name}}</option>{% endfor %}
        </select></p>
    <p>Send email to the following artists:</p>
    <ul>
    {% for obj in queryset %}
        <li>{{ obj }}</li>
    {% endfor %}
    </ul>
    <div>
    {% for obj in queryset %}
    <input type="hidden" name="{{ action_checkbox_name }}" value="{{ obj.pk }}" />
    {% endfor %}
    <input type="hidden" name="action" value="send_email" />
    <input type="hidden" name="post" value="yes" />
    <input type="submit" name="show_output" value="Show Output" />
    <input type="submit" name="send_email" value="Send Email" />
    </div>
    </form>
    {% for e in emails %}
    <p>To: {{ e.to }}<br><textarea rows="10" cols="80">{{ e.body }}</textarea></p>{% endfor %}

{% endblock %}
