<!DOCTYPE html>
<html><head>
<title>500 - Server Error</title>
<link rel="stylesheet" type="text/css" href="/static/artshow/manage_styles.css" />
</head><body>
<div id="container">
  <div id="header">
    <div id="branding">
      <h1 id="site-name">Further Confusion Art Show</h1>
    </div>
  </div>
  <div id="breadcrumbs">
	<ul>
	  <li><a href="/">Home</a></li>
	  <li>500</li>
	</ul>
  </div>
  <div id="content">
    <p>Oops. Something bad happened. Totally our fault. If this happens again, please let us know what this error interrupted you doing.</p>
  </div>
</div>
</body></html>