<!DOCTYPE html>
<html><head>
<title>500 - Server Error</title>
<link rel="stylesheet" type="text/css" href="/static/artshow/manage_styles.css" />
</head><body>
<div id="container">
  <div id="header">
    <div id="branding">
      <h1 id="site-name">Art Show Broke!</h1>
    </div>
  </div>
  <div id="breadcrumbs">
	<ul>
	  <li><a href="/">Home</a></li>
	  <li>500 - Server Error</li>
	</ul>
  </div>
  <div id="content">
    <p>Oops. Something bad happened. Totally our fault. You couldn't <i>possibly</i> have known that it would break like that.</p>
    <p>We've recorded some stuff in the logs, so if this happens again, please let us know what this error interrupted you doing and, for the moment, do something different!</p>
  </div>
</div>
</body></html>