{% extends "accounts/base.html" %}
{% load url from future %}
{% block title %}Password Reset{% endblock %}
{% block content %}

{% if validlink %}

<form method="post" class="">{% csrf_token %}
<table class="formbox">
{{ form.as_table }}
<tr><td colspan="2"><input type="submit" value="Change Password" /></td></tr>
</form>

{% else %}

<p>The password reset link was invalid, possibly because it has already been used, or has expired. Please <a href="{% url 'django.contrib.auth.views.password_reset' %}">request a new password reset</a>.</p>

{% endif %}

{% endblock %}
