{% load url from future %}
{% autoescape off %}
You, or someone, has requested a password reset for your {{ site_name }} 
management account at {{ protocol }}://{{ domain }}

If this was not you, you may safely ignore this email. If you continue to receive
these emails, please contact the administration.

To continue on and change your password, please click:

{{ protocol }}://{{ domain }}{% url 'django.contrib.auth.views.password_reset_confirm' uidb36=uid token=token %}

Your username, in case you've forgotten: {{ user.username }}
{% endautoescape %}