{% load url from future %}
{% autoescape off %}
You, or someone, have requested a password reset for your Art Show Management account
at {{ SITE_ROOT_URL }}

If this was not you, you may safely ignore this email. If you continue to receive
these emails, please contact the Art Show administration.

To continue on and change your password, please click:

{{ SITE_ROOT_URL }}{% url 'django.contrib.auth.views.password_reset_confirm' uidb36=uid token=token %}

Your username, in case you've forgotten: {{ user.username }}
{% endautoescape %}